<fieldset>
    <legend> Search </legend>
    <!-- :url => url_for(:controller => "searches", :action => "create") -->
    <%= form_for @search do |f| %>
        <%= label_tag(:name, "Name: ") %>
        <%= f.text_field :name %>
        <%= label_tag(:place, " in: ") %>
        <%= f.text_field :place %>
        <%= f.submit "Search"%>
    <% end %>
</fieldset>

<fieldset>
    <legend> Most Searched Results </legend>
    <% begin %>
        <% img1, img2, img3 = @most_searched[0].name, @most_searched[1].name, @most_searched[2].name %>
        <%= render 'carousel', :img1 => img1, :img2 => img2, :img3 => img3 %>
    <% rescue %>
        <%= render 'carousel', :img1 => "def", :img2 => "def", :img3 => "def" %>
    <% end %>
</fieldset>

<h2>Results for: <b><%= @name %></b> in: <b><%= @place %></b></h2>

<div class="map">
    <div id="rails_map"></div>
</div>

<%= render 'results', :ypentries => @ypentries %>

<%= render 'mapscripts' %>