<fieldset>
    <legend> Search </legend>
    <!-- :url => url_for(:controller => "searches", :action => "create") -->
    <%= form_for @search do |f| %>
        <%= label_tag(:name, "Name: ") %>
        <%= f.text_field :name %>
        <%= label_tag(:place, " in: ") %>
        <%= f.text_field :place %>
        <%= f.submit "Search"%>
    <% end %>
</fieldset>

<fieldset>
    <legend> Most Searched Results </legend>
    <%= render 'carousel', :img1 => "r1", :img2 => "r2", :img3 => "r3" %>
</fieldset>

<h2>Results for: <b><%= @name %></b> in: <b><%= @place %></b></h2>

<div class="map">
    <div id="rails_map"></div>
</div>

<%= render 'mapscripts' %>

<%= render 'results', :ypentries => @ypentries %>